<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<%- include('partials/navbar') %>

<div style="padding:20px;">
    <h1><%= title %></h1>
    <p>📧 email: <%= email %></p>

    <% if (isAvailableForHire) { %>
        <p style="color:green; font-weight:bold;">new orders</p>
    <% } else { %>
        <p style="color:red; font-weight:bold;">im doing something else</p>
    <% } %>
</div>

<%- include('partials/footer') %>
</body>
</html>